<?xml version="1.0" encoding="UTF-8"?>
<class-diagram version="1.2.2" icons="true" always-add-relationships="false" generalizations="true" realizations="true" 
  associations="true" dependencies="false" nesting-relationships="true" router="FAN">  
  <class id="1" language="java" name="Controller.Controller" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Controller/Controller.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="170" y="-252"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="2" language="java" name="Controller.MainClass" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Controller/MainClass.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="412" y="-370"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <interface id="3" language="java" name="Model.Logic.I_ModelLogic" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Logic/I_ModelLogic.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="433" y="232"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </interface>  
  <class id="4" language="java" name="Model.Logic.ModelLogic" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Logic/ModelLogic.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="724" y="285"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="5" language="java" name="Utills.MFileWriter" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Utills/MFileWriter.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="696" y="-337"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="6" language="java" name="Utills.Constants" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Utills/Constants.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="128" y="274"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <enumeration id="7" language="java" name="Utills.E_TAGS" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Utills/E_TAGS.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1632" y="-340"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </enumeration>  
  <enumeration id="8" language="java" name="Utills.Type" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Utills/Type.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1601" y="-116"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </enumeration>  
  <enumeration id="9" language="java" name="Utills.Catagory" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Utills/Catagory.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1769" y="-91"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </enumeration>  
  <class id="10" language="java" name="View.MainMenu" project="monopoly_GAME" 
    file="/monopoly_GAME/src/View/MainMenu.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="145" y="53"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="11" language="java" name="View.GameBoard" project="monopoly_GAME" 
    file="/monopoly_GAME/src/View/GameBoard.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="467" y="-158"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="12" language="java" name="Model.Objects.Asset" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/Asset.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1766" y="268"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="13" language="java" name="Model.Objects.Question" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/Question.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1375" y="-149"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="14" language="java" name="Model.Objects.Player" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/Player.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="584" width="179" x="897" y="-98"/>    
    <display autosize="false" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="15" language="java" name="Model.Objects.Answer" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/Answer.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="708" y="-77"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="16" language="java" name="Model.Objects.SysData" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/SysData.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="957" y="-286"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="17" language="java" name="Model.Objects.Square" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/Square.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1577" y="134"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <class id="18" language="java" name="Model.Objects.Jail" project="monopoly_GAME" 
    file="/monopoly_GAME/src/Model/Objects/Jail.java" binary="false" corner="BOTTOM_RIGHT">    
    <position height="-1" width="-1" x="1247" y="353"/>    
    <display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
      sort-features="false" accessors="true" visibility="true">      
      <attributes public="true" package="true" protected="true" private="true" static="true"/>      
      <operations public="true" package="true" protected="true" private="true" static="true"/>    
    </display>  
  </class>  
  <association id="19">    
    <end type="SOURCE" refId="1" navigable="false">      
      <attribute id="20" name="game"/>      
      <multiplicity id="21" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="11" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="22">    
    <end type="SOURCE" refId="16" navigable="false">      
      <attribute id="23" name="squares"/>      
      <multiplicity id="24" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="17" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="25">    
    <end type="SOURCE" refId="13" navigable="false">      
      <attribute id="26" name="tags"/>      
      <multiplicity id="27" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="7" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <realization id="28">    
    <end type="SOURCE" refId="4"/>    
    <end type="TARGET" refId="3"/>  
  </realization>  
  <association id="29">    
    <end type="SOURCE" refId="1" navigable="false">      
      <attribute id="30" name="ctrl"/>      
      <multiplicity id="31" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="1" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="32">    
    <end type="SOURCE" refId="4" navigable="false">      
      <attribute id="33" name="data"/>      
      <multiplicity id="34" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="16" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="35">    
    <end type="SOURCE" refId="1" navigable="false">      
      <attribute id="36" name="model"/>      
      <multiplicity id="37" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="3" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <generalization id="38">    
    <end type="SOURCE" refId="12"/>    
    <end type="TARGET" refId="17"/>  
  </generalization>  
  <association id="39">    
    <end type="SOURCE" refId="13" navigable="false">      
      <attribute id="40" name="answers"/>      
      <multiplicity id="41" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="15" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="42">    
    <end type="SOURCE" refId="16" navigable="false">      
      <attribute id="43" name="questions"/>      
      <multiplicity id="44" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="13" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="45">    
    <end type="SOURCE" refId="17" navigable="false">      
      <attribute id="46" name="type"/>      
      <multiplicity id="47" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="8" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="48">    
    <end type="SOURCE" refId="4" navigable="false">      
      <attribute id="49" name="model"/>      
      <multiplicity id="50" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="3" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="51">    
    <end type="SOURCE" refId="1" navigable="false">      
      <attribute id="52" name="mainmenu"/>      
      <multiplicity id="53" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="10" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="54">    
    <end type="SOURCE" refId="12" navigable="false">      
      <attribute id="55" name="catagory"/>      
      <multiplicity id="56" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="9" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="57">    
    <bendpoint x="1108" y="-76"/>    
    <end type="SOURCE" refId="16" navigable="false">      
      <attribute id="58" name="players"/>      
      <multiplicity id="59" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="14" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="60">    
    <end type="SOURCE" refId="16" navigable="false">      
      <attribute id="61" name="data"/>      
      <multiplicity id="62" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="16" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <generalization id="63">    
    <end type="SOURCE" refId="18"/>    
    <end type="TARGET" refId="17"/>  
  </generalization>  
  <association id="64">    
    <end type="SOURCE" refId="14" navigable="false">      
      <attribute id="65" name="assets"/>      
      <multiplicity id="66" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="17" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="67">    
    <bendpoint x="1334" y="258"/>    
    <end type="SOURCE" refId="12" navigable="false">      
      <attribute id="68" name="owner"/>      
      <multiplicity id="69" minimum="0" maximum="1"/>    
    </end>    
    <end type="TARGET" refId="14" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <association id="70">    
    <end type="SOURCE" refId="18" navigable="false">      
      <attribute id="71" name="jailedPlayers"/>      
      <multiplicity id="72" minimum="0" maximum="2147483647"/>    
    </end>    
    <end type="TARGET" refId="14" navigable="true"/>    
    <display labels="true" multiplicity="true"/>  
  </association>  
  <classifier-display autosize="true" stereotype="true" package="true" initial-value="false" signature="true" 
    sort-features="false" accessors="true" visibility="true">    
    <attributes public="true" package="true" protected="true" private="true" static="true"/>    
    <operations public="true" package="true" protected="true" private="true" static="true"/>  
  </classifier-display>  
  <association-display labels="true" multiplicity="true"/>
</class-diagram>
/bin/
